.Login {
    margin: auto;
    margin-left: -15rem;
    width: auto;
    height: 70vh;
    background: #B799FF;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
    overflow: hidden;
    font-family: poppins;
}

.Login h2 {
    margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: #E6FFFD;
  letter-spacing: 1px;
}

.Login label {
  color: #AEE2FF;
}


.Login form {
  border-style: solid;
  border-color:#E6FFFD;
  border-width: 2px;
  border-radius: 5%;
  margin: 50px 50px 50px 50px;
}

.select {
  max-width: 15ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 0.8rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  box-shadow: 2px 2px 2px black;
}

input {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  margin-right: 0.3rem;
  background-color: #E6FFFD ;
  border: 2px solid var(--input-border);
  border-radius: 4px;
}